---
import "@/styles/global.astro";
import { getTopCommands } from "@/utils/queries";

export interface Props {
  title: string;
}

const commands = await getTopCommands();

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="p-5">
      <ul class="grid mb-10">
        {
          commands.map((c) => (
            <li class="mb-10">
              <a href={`/${c.slug}`}>{c.slug}</a>
            </li>
          ))
        }
      </ul>
      <slot />
    </main>
  </body>
</html>
